<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>RMGU Sindhudurg</title>
     <!-- CSS file -->
     <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img th:src="@{/images/RMGU_LOGO.png}"  src="../static/images/RMGU_LOGO.png" alt="RMGU Sindhudurg" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome back, Admin</h1>
      <p>Easily manage your data from this admin CMS</p>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-3 pt-3">
          <div class="card" style="background-color: white">
            <div class="card-body">
              <h4 class="card-title">Categories</h4>
              <p class="card-text">Manage the categories section here.</p>
              <a
                href="#"
                th:href="@{/admin/categories}"
                class="card-link btn btn-colour"
                >Manage</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-3">
          <div class="card" style="background-color: white">
            <div class="card-body">
              <h4 class="card-title">Products</h4>
              <p class="card-text">Manage all the products here.</p>
              <a
                href="#"
                th:href="@{/admin/products}"
                class="card-link btn btn-colour"
                >Manage</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
