<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Products</title>
     <!-- CSS file -->
     <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img th:src="@{/images/RMGU_LOGO.png}"  src="../static/images/RMGU_LOGO.png" alt="RMGU Sindhudurg" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
	<div class="container-fluid">

		<a th:href="@{/admin/products/add}" style="margin: 20px 0" class="btn btn-colour">Add Product</a>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">SN</th>
					<th scope="col">Product Name</th>
					<th scope="col">Category</th>
					<th scope="col">Preview</th>
					<th scope="col">Delete</th>
					<th scope="col">Update</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product, iStat : ${products}">
					<th scope="row" th:text="${iStat.index + 1}">1</th>
					<td th:text="${product.productName}">Larry</td>

					<td th:text="${product.category.name}">Larry</td>
					<td><img src="" height="100px" width="100px" th:src="@{${'/productImages/' + product.productImageName}}">
					</td>

					<td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.productID})}"
							class="btn btn-danger">Delete</a></td>
					<td><a href="" th:href="@{/admin/product/update/{id}(id=${product.productID})}"
							class="btn btn-warning">Update</a></td>

				</tr>
			</tbody>
		</table>
	</div>



	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>